[submodule "f1c200s-weather-3d"]
	path = f1c200s-weather-3d
	url = https://github.com/kitten-yyds/f1c200s-weather-3d.git
[submodule "f1c200s-weather-uboot"]
	path = f1c200s-weather-uboot
	url = https://github.com/kitten-yyds/f1c200s-weather-uboot.git
[submodule "f1c200s-weather-kernel5.2"]
	path = f1c200s-weather-kernel5.2
	url = https://github.com/kitten-yyds/f1c200s-weather-kernel5.2.git
[submodule "f1c200s-weather-mcu"]
	path = f1c200s-weather-mcu
	url = https://github.com/kitten-yyds/f1c200s-weather-mcu.git
[submodule "f1c200s-weather-lvglsim"]
	path = f1c200s-weather-lvglsim
	url = https://github.com/kitten-yyds/f1c200s-weather-lvglsim.git
[submodule "f1c200s-weather-software"]
	path = f1c200s-weather-software
	url = https://github.com/kitten-yyds/f1c200s-weather-software